body {
    background-color: #f4f6f9;
    font-family: 'Cairo', sans-serif;
}
a:hover {
	text-decoration-line: none;
}
td, th {
	vertical-align: middle !important;
}
tr:hover {
    background-color: #eee6;
}
td a.btn {
    margin-bottom: 3px;
}

.main-page {
    min-height: calc(100vh - 130px);
}

.navbar-brand {
    padding: 0;
}